body{
  margin: 0;
  background: url(img/backcase.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
a{
  text-decoration: none;
  color:white;
}
p{
  cursor: default;
}
header{
background: rgba(0,137,206,0.4);
  position: relative;
  width: 100%;
  height: 18vh;
  text-align: center;
  animation: color 30s ease-in-out infinite;
  z-index: 2;}
   header #logo{
     width: 26.5vh;
     height: 17vh;
}
@keyframes color{
0%{background:rgba(67,8,176,0.5);}
20%{background: rgba(8,28,176,0.5);}
40%{background: rgba(8,148,176,0.5);}
60%{background: rgba(176,8,110,0.5);}
80%{background: rgba(117,8,176,0.5);}
100%{background:rgba(67,8,176,0.5);}
}
header .profile{
  border-radius: 41% 2vh 2vh 41%;
  position: absolute;
  left: 70%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 10vh;
  width: 40vh;
}
header .profile img{
  top: 1vh;
  left: 0;
  position: absolute;
height: 10vh;
width: 10vh;
border-radius: 100%;
z-index: 5;
}
header .profile .stats{
position: absolute;
top: 5vh;
left: 2vh;
background: rgba(0,0,0,0.4);
width: 32vh;
height: 6vh;
border-radius: 10vh;
}
header .profile p{
    text-align: left;
  font-family: fantasy;
  color: white;
  font-size: 2.7vh;
  left: 11vh;
  width: 30vh;
}
header .profile #nick{
  left: 10vh;
  font-size: 3.3vh;
  position: absolute;
  top: -2vh;
  color: #E9DAF9;
  font-family: sans-serif;
}
header .profile #balance{
position: absolute;
top: 2vh;
}
header .profile #freespin{
position: absolute;
top: 5vh;
}
header .profile #change{
position: absolute;
font-family: sans-serif;
font-size: 2vh;
top: 9vh;
left: 0.5vh;
font-weight: bold;
cursor: pointer;
color: rgba(200,200,200,0.4);
text-decoration: underline;
}
nav{
  background: rgba(0,137,206,0.4);
  font-weight: bold;
   font-style: normal;
  z-index: 5;
  background:;
  text-align: center;
  width: 100%;
  height: 3vh;
  transition: all ease-out 0.5s;
  font-size: 0;
  animation: color 30s ease-in-out infinite;
  position: relative;
  border-radius: 0 0 100% 100%;
}
nav a{
  transition: 0.8s;
  height: 3vh;
  position: relative;
  padding:0 2.8vh;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px black;
  border-radius:0 0 10% 10%;
  border-bottom:0.6vh solid  black;
}
nav a:hover{
  border-bottom:0.6vh solid  #B7B7B7;
  color: rgba(255,255,255, 0.9);
}
nav a.active{
  border-bottom: 0.6vh solid white;
}


.content{
  margin: auto;
  margin-top: 6vh;
  margin-bottom: 6vh;
  position: relative;
  width: 70%;
  height: 65vh;
  background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.7) 75% ), radial-gradient(rgba(67,8,176,0.6) , rgba(0,0,0,0));
  border-radius: 10%;
}

.content #avatar{
  position: absolute;
  width: 40vh;
  height: 40vh;
  top: 2vh;
  left: 2vh;
  border-radius: 50%;
  border: 1vh solid rgba(0,0,0,0.6);
}
.content .info{
  position: absolute;
  top: 2vh;
  left: 45vh;
  width: 100vh;
  height: 45vh;
  font-size: 7vh;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(255,255,255,0.8);
}
.content .info mark{
  font-family: fantasy;
  background-color: rgba(0,0,0,0);
  color: #360031;
  opacity: 0.7;
}
.content .info #nick{
  white-space: nowrap;
  position: absolute;
  top: -2vh;
}
.content .info #balance{
  position: absolute;
  top: 8vh;
}
.content .info #freespin{
  position: absolute;
  top: 18vh;
}
.content .info #redact{
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 6.5vh;
  right: 0;
  cursor:pointer;
}

.content .stats{
  text-align: center;
  position: absolute;
  margin: auto;
  bottom: 2.5vh;
  left: 0;
  right: 0;
font-size: 0vh;
}
.content .stats .segment{
  text-align: center;
display: inline-block;
height: 15vh;
background-color: rgba(255,255,255,0.2);
border: 0.3vh solid rgba(10,10,10,0.4);
margin: 0vh 1vh;
padding:0 2vh;
border-radius: 2vh;
transition: 1s;
}
.content .stats .segment:hover{
  background-color: rgba(255,255,255,0.9);
}
.content .stats .segment p{
  font-family: fantasy;
  font-size: 4vh;
  margin-top: 0vh;
}
.content .stats .segment h1{
  font-family: sans-serif;
  margin-top: -3vh;
  font-size: 7vh;
}
footer{
  background-color: #4F4F4F;
height: 50vh;
}
 .contacts {
   margin-top: 7vh;
   font-size: 0;
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 5vh;
}
.contacts a{
  transition: 1s;
  opacity: 0.5;
  margin-left:5vh;
  margin-right:5vh;
}
.contacts a:hover{
  opacity: 1;
}
#web img{
height: 4vh;
width: 4vh;
}
#sites img{
  margin-top: -6vh;
  margin-left:3vh;
  margin-right:3vh;
height:21vh;
width: 21vh;
}
footer .cop{
  font-family: sans-serif;
  margin: auto;
width: 90%;
  border-top: 0.1vh solid black;
  color: rgba(255,255,255,0.5);
  font-size: 3vh;
  text-align: center;
}
